@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600;700&display=swap');

$blue:#005cff;
$turqueza:#41e8b4;
$tipo:'Barlow', sans-serif;
$azul: #1B83E0;
$texto: #353535;
$gris-claro:#F9F9F9;
$celeste:#2FCBF1;
$blanco:#fff;
$celeste2:#3EE4FF;
$rosado: #FD6C98;
$gris:rgba(109, 110, 112, 0.49);
$fondo-gris:#F4F4F4;
$color-linea: #cdcdcd;
$verde: #5BBBA3;
$white-claro:#F7F7F7;

$light:300;
$regular:400;
$semibold:600;
$bold:700